# Development files
.vscode/**
.vscode-test/**
src/**
out/**
*.vsix

# Config files
tsconfig.json
esbuild.js
.gitignore
.eslintrc*

# Node modules - exclude all by default
node_modules/**

# Re-include required external dependencies
!node_modules/sharp/**
!node_modules/@img/**
!node_modules/file-type/**
!node_modules/strtok3/**
!node_modules/token-types/**
!node_modules/peek-readable/**
!node_modules/@tokenizer/**
!node_modules/jsonc-parser/**
!node_modules/detect-libc/**
!node_modules/semver/**
!node_modules/color/**
!node_modules/color-convert/**
!node_modules/color-string/**
!node_modules/color-name/**
!node_modules/simple-swizzle/**
!node_modules/is-arrayish/**
